.signup-body {
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}

.signup-body .signup-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	flex-direction: column;
	height: 90vh;
}

.signup-body .signup-wrapper .signup-panel {
	width: 30%;
	height: 100%;
	text-align: center;
	padding: 40px 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex: 1 1 100%;
}

.signup-body .signup-wrapper .signup-panel .logo img {
	width: 120px;
	height: 120px;
	margin: 0px 0px 10px;
	padding: 12px 10px;
	margin-bottom: 10px;
	color: #515C66;
	padding: 12px 10px;
}

.signup-body .signup-wrapper .signup-panel a {
	text-decoration: none;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: rgba(41, 50, 65, 0.3);
}


.signup-body .signup-wrapper .signup-panel p {
	margin:0px 0px 0px 20px;
	text-align: left;
	font-weight: 500;
	
	color: rgba(41, 50, 65, 0.5);
	font-weight: 500;
}

.signup-body .signup-wrapper .signup-panel span p {
	margin: 40px 0px 0px 0px;
	text-align: center;
}
.signup-body .signup-wrapper .signup-panel p a {
	font-size: 15px;
	color: #2170E7;
	cursor: pointer;
	transition: color 0.2s, box-shadow 0.2s;
}




.signup-body .signup-wrapper .signup-panel p a:hover {
	color: #221ED9;
}

.username {
	background: #f6f7f7;
	margin: 0px 0px 10px;
	padding: 12px 10px;
	width: 85%;
	max-width: 247px;
	margin-bottom: 10px;
	background-color: #F6F7F7;
	border: 1.2px solid #D4D6D9;
	color: #515C66;
	padding: 12px 10px;
	width: 85%;
}

.password {
	background: #f6f7f7;
	width: 85%;
	max-width: 247px;
	margin-bottom: 10px;
	background-color: #F6F7F7;
	border: 1.2px solid #D4D6D9;
	color: #515C66;
	padding: 12px 10px;
}
.signupform{
	align-items:start;
	
}
.signupButton {
	font-size: 14px;
	width: 85%;
	max-width: 247px;
	margin-bottom: 10px;
	border: 1px solid #464DF2;
	border-radius: 6px;
	color: white;
	padding: 12px 10px;
	background: #464DF2;
	margin-bottom: 10px;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
}

.signupButton:hover {
	background: #221ED9;
	border-color: #221ED9;
	color: #FFFFFF;
}

.signup-footer a {
	color: black;
	text-decoration: none;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	text-decoration: none;
}

.file {
	margin: 0px 0px 20px 15px;
	text-align:right;
	min-width: 266px;
	
}

.signup-footer {
}